.btn-help{
    font-size: 20px;
    border-radius: 3px;
    font-weight: 500;
    color: #09e1cd;
    padding: 5px;
    border: 2px solid #09e1cd;
    transition: all .2s;
    text-align: center;
    margin-bottom: 10px;
    background-color: #01000f;
}

.btn-help:hover{
    cursor: pointer;
    background-color: #09e1cd;
    color: black;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

input{
    margin: 0;
}